.tasksNode {
  min-height: 5rem;
  width: 15rem;
  border: 0.2rem solid #161616;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #161616;

  .css-1x51dt5-MuiInputBase-input-MuiInput-input{
    font-size: 0.5rem;
  }

  .css-q0jhri-MuiInputBase-root-MuiInput-root{
    width: 100%;
    font-size: 0.6rem;
  }

  .css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input{
    padding-top: 0;
    padding-bottom: 0;
  }
}

.tasksNode__header__leftCircle,
.tasksNode__header__rightCircle{
  width: .8rem;
  height: .8rem;
  background-color: #D3D3D3;
  border-radius: 50%;
}

.tasksNode__header__leftCircle {
  margin-right: auto;
}

.tasksNode__header__rightCircle {
  margin-left: auto;
}

.tasksNode__header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tasksNode__header__title {
  text-align: center;
  font-size: 0.9rem;
  font-weight:700;
  color: #D3D3D3;
}

.tasksNode__createTask__input {
  display: flex;
  height: 1.1rem;
}

.tasksNode__userTasks__task {
  border: 1px solid #e5e5e5;
  margin: 0.3rem;
  padding-left: 0.1rem;
}

.tasksNode__userTasks__task__title {
  font-size: 0.65rem;
  width: 65%;
}

.tasksNode__userTasks__task {
  display: flex;
  flex-direction: row;
}

.tasksNode__userTasks__select{
  display: flex;
  align-items: center;
  width: 35%;
}

.tasksNode__userTasks__select__option{
  font-size: 1rem;
}

.tasksNode__userTasks__inProgress, .tasksNode__userTasks__done{
  border-top: 0.2rem solid #D3D3D3;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
