.header{
  .css-hip9hq-MuiPaper-root-MuiAppBar-root, .css-1q39md6-MuiButtonBase-root-MuiButton-root-root{
    background-color: #161616;
    color: #D3D3D3;
  }

  button {
    color: #D3D3D3;
  }
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  background-color: #D3D3D3;
}