.achievementsPage {
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .16);
    border-radius: 3px;
    min-height: 300px;
    margin-top: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;
  }
  
  .achievementsPage__title {
    font-size: 24px;
  }
  
  .achievementsPage__received, .achievementsPage__notReceived{
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .16);
    border-radius: 3px;
    margin-bottom: 15px;
  
    padding: 5px;
    min-height: 50px;
}