.taskElement {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  margin-bottom: 0.3rem;
  background-color: #D3D3D3;
  color: #161616;

  .MuiInputBase-root {
    display: block;
    margin: auto;
  }

  .MuiNativeSelect-select {
    margin-top: 0.2rem;
    padding-right: 0 !important;
  }
}

.taskElement__title {
  width: 45%;
  font-size: 0.75rem;
  margin: auto auto auto 0.1rem;
}

.taskElement__edit, .taskElement__delete {
  width: 10%;
}

.taskElement__select {
  width: 35%;
  height: 1.4rem;

  .css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input:not([multiple]) option {
    background-color: #D3D3D3;

    &:hover {
      background-color: #161616;
      color: #D3D3D3;
    }
  }
}

.taskElement__select__option{
  font-size: 1rem;
}

.taskElement__input{
  display: flex;
  height: 1.1rem;
  margin-bottom: 0.5rem;
}
